apiVersion: v1
kind: ConfigMap
metadata:
  name: core-config
data:
  application.yml: | 
    server:
      port: 8080
    spring:
      threads:
        virtual:
          enabled: true
      datasource:
        # TODO: Replace with actual KT Cloud DB VIP
        url: jdbc:mysql://172.25.0.57:10000/axon_db?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
        username: axon_user
      batch:
        jdbc:
          initialize-schema: never
          table-prefix: "BATCH_"
      jpa:
        hibernate:
          ddl-auto: validate
        show-sql: false
      kafka:
        bootstrap-servers: my-kafka.default.svc.cluster.local:9092
      data:
        redis:
          host: axon-redis-master
          port: 6379
          password: ${REDIS-PASSWORD}
