apiVersion: v1
kind: ConfigMap
metadata:
  name: core-config
data:
  application.yml: | 
    server:
      port: 8080
      forward-headers-strategy: framework
    spring:
      threads:
        virtual:
          enabled: true
      datasource:
        # TODO: Replace with actual KT Cloud DB VIP
        url: jdbc:mysql://172.25.0.57:10000/axon_db?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
        username: axon_user
        password: ${DB_PASSWORD}
      batch:
        jdbc:
          initialize-schema: never
          table-prefix: "BATCH_"
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: false
      kafka:
        bootstrap-servers: axon-kafka:9092
      data:
        redis:
          host: axon-redis-master
          port: 6379
          password: ${REDIS_PASSWORD}
    axon:
      entry-service-url: http://entry-service
    gemini:
      api:
        key: ${GEMINI_API_KEY}
