apiVersion: apps/v1
kind: Deployment
metadata:
  name: core-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: core-service
  template:
    metadata:
      labels:
        app: core-service
    spec:
      containers:
        - name: core-service
          image: nileyang/axon-core:v1
          ports:
            - containerPort: 8080
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: axon-secrets
                  key: db-password
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: axon-secrets
                  key: jwt-secret
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
              readOnly: true
          args: ["--spring.config.location=classpath:/application.yml,file:/app/config/application.yml"]
      volumes:
        - name: config-volume
          configMap:
            name: core-config
---
apiVersion: v1
kind: Service
metadata:
  name: core-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: core-service
