spring:
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: I9BlZgZAispKJrXrBm28
            client-secret: 7VOwD8pl1U
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
              - profile_image
            client-name: Naver
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

# TODO: 실제 운영에서는 환경변수나 외부 설정 파일을 통해 주입해야 합니다.
jwt:
  secret: YOUR_VERY_SECRET_RANDOM_STRING_THAT_IS_LONG_ENOUGH_axonskusw